.techContainer {
  margin: 100px 0px;
  padding: 40px 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .techHeaderLight {
    color: #42446e;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .techHeaderDark {
    color: #9b9ba3;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .thingsBuiltDark {
    font-weight: 400;
    font-size: 28px;
    color: #9b9ba3;
    line-height: 26px;
  }
  .thingsBuiltLight {
    font-weight: 400;
    font-size: 28px;
    color: #42446e;
    line-height: 26px;
  }
  .tech {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
